xml-resources/web-service-references/FileTransferWS_1/wsdl/localhost_8080/FileTranserWebServiceApplication/FileTransferWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://fileTransfer.mindfire.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://fileTransfer.mindfire.com/">

<xs:element name="download" type="tns:download" />

<xs:element name="downloadResponse" type="tns:downloadResponse" />

<xs:element name="upload" type="tns:upload" />

<xs:element name="uploadResponse" type="tns:uploadResponse" />

<xs:complexType name="download">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="upload">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:base64Binary" nillable="true" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>